# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Node.js
node_modules/
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
server.log

# Temporary files
*.tmp
*.temp
.vercel
